In [2]:
a=5
print(a)

5

# print your full name

In [4]:
print("DIPTI SHARMA")

DIPTI SHARMA

# print a quote

In [11]:
print("start learning everyday")

start learning everyday

# print in multiple lines

In [4]:
print ("we\nare \nstudent")

we
are
student

# Variables and Data Types

In [5]:
name = "DIPTI"
age= 21
country = "Nepal"


print( f"MY name is {name}, I am {age} years old ,  and I live in {country}.")
print(type(name),type(age),type(country))

my name is :DIPTI,I live in Nepal
MY name is DIPTI, I am 21 years old ,  and I live in Nepal.
<class 'str'> <class 'int'> <class 'str'>

In [8]:
a="Apex"
a[-4]

'A'

# Describe all these operators and example of each with output

## arithmetic operators

In [1]:
a = 10
b = 3
print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a % b)   # Modulus
print(a ** b)  # Exponentiation
print(a // b)  # Floor Division

13
7
30
3.3333333333333335
1
1000
3

## comparison operators

In [2]:
a = 5
b = 8
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

## logical Operators

In [3]:
x = 5
y = 10
print(x > 3 and y > 5)
print(x > 7 or y > 5)
print(not(x > 3 and y > 5))

True
True
False

## assignment operators

In [17]:
x = 10 

x += 5
print(x)
x -= 3
print(x)
x *= 2
print(x)
x /= 4
print(x)
x %= 3
print(x)

15
12
24
6.0
0.0

## bitwise operators

In [19]:
a = 5   # 0101
b = 3   # 0011
print(a & b)   # AND
print(a | b)   # OR
print(a ^ b)   # XOR
print(~a)      # NOT
print(a << 1)  # Left shift
print(a >> 1)  # Right shift

1
7
6
-6
10
2

## membership operators

In [20]:
fruits = ["apple", "banana", "mango"]
print("apple" in fruits)
print("grape" not in fruits)

True
True

## identity operators

In [21]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y)
print(x is z)
print(x is not y)

False
True
True

# input and output

In [3]:
age = int(input("Enter your age: "))
print("Your age is:", age)

Enter your age:  21

Your age is: 21

In [4]:
name = "Dipti"
print("Hello,", name)
print("Welcome to Python programming.")

Hello, Dipti
Welcome to Python programming.

# mini assignment 3

In [13]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)

Enter a number:  4
Enter another number:  5

Sum: 9
Difference: -1
Product: 20

In [12]:
a=5
b=5
if a%b==0 :
    print("divisible")

divisible

In [11]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a % 2 == 0 and b % 2 == 0:
    print( "is even")
else:
    print("not even")

Enter first number:  3
Enter second number:  4

is even

# conditional statements

In [23]:
a = 5 

if a > 0:
    print("positive")
elif a < 0:
    print("negative")
else:
    print("zero")

positive

In [24]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    print("A")
elif marks >= 75:
    print("B")
elif marks >= 50:
    print("C")
else:
    print("F")

Enter your marks:  56

C

In [33]:
a =8
if a%2 == 0 :
    print("even")
else :
    print("odd")

even

In [2]:
num =5
print(num)

5

In [3]:
name ="DIPTI"
len(name)

5

In [14]:
name=input("enter your name")
print(name)

enter your name dipti

dipti

In [15]:
a = max(5, 8, 2)
print(a)

8

In [6]:
b = min(1,2,3)
print(b)

1

In [12]:
a = 5
print(type(a))

b = "dipti"
print(type(b))

c = 5.1
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

## Functions

In [13]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b

print(add(2,3))
print(sub(3,1))

5
2

In [19]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
        return True
n = int(input("enter a bumber"))
print(is_prime(n))

enter a bumber 4

False

In [23]:
def is_prime(n):
    if n<=1: return False
    for i in range(2,n):
        if n%i ==0 :
            return False
    return True
print(is_prime(8))

False

In [20]:
def function(n):
    if n == 0:
        return
    else:
        function(n-1)
        print(n)
function(10)

1
2
3
4
5
6
7
8
9
10

In [24]:
import math
print(math.sqrt(25))
print(math.pi)

5.0
3.141592653589793

In [31]:
import random
print(random.randint(1,10))

3

 # write a program that asks for three numbers abd prints largest using a function

In [25]:
def function (a,b,c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c 

a = int(input("enter your first number"))
b = int(input("enter your second number"))
c = int(input("enter your third number"))

largest = function(a,b,c)
print( "largest :",largest)

enter your first number 5
enter your second number 6
enter your third number 7

largest : 7

In [26]:
def largest(arr):
    max_number = arr[0]
    for a in arr:
        if a > max_number:
            max_number = a
    return max_number

largest([1,2,3,4,5])

5

In [28]:
def largest(arr):
    max_number = arr[0]
    for a in arr:
        if a > max_number:
            max_number = a
    return max_number

# Taking input from user
numbers = input("Enter numbers separated by space: ").split()  # input as string and split into list
numbers = [int(num) for num in numbers]  # convert each element to integer

# Find and print largest number
print("Largest number is:", largest(numbers))

Enter numbers separated by space:  3 4 5 6 7

Largest number is: 7

# print a mutiplication table for a number , but highlight multiples of 5

In [44]:
num = int (input("enter a number you want multiplication for"))
for i in range(1,11):
    print (f"{num} *{i} = {num*i}")

enter a number you want multiplication for 5

5 *1 = 5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
5 *10 = 50

In [39]:
number = 6

print(f"Multiplication Table of {number}:")

for i in range(1, 11):
    result = number * i
    if result % 5 == 0:  
        print(f"{number} x {i} = {result} *")  
    else:
        print(f"{number} x {i} = {result}")

Multiplication Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30 *
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60 *

# Roll a dice 10 times using random randint() and count how many times you get 6

In [6]:
import random

count_6 = 0

for i in range(10):  # i goes from 0 to 9 (10 rolls)
    roll = random.randint(1, 6)  # dice roll between 1 and 6
    print(f"Roll {i+1}: {roll}")  # shows which roll it is
    if roll == 6:
        count_6 += 1

print("Number of times 6 appeared:", count_6)

Roll 1: 5
Roll 2: 6
Roll 3: 5
Roll 4: 3
Roll 5: 2
Roll 6: 4
Roll 7: 5
Roll 8: 5
Roll 9: 5
Roll 10: 5
Number of times 6 appeared: 1

# Ask the user to input a word and count vowels and consonants using a function

In [43]:
def checkword(word):
    vowels = 0
    consonants = 0

    for letter in word.lower():
        if letter in "aeiou":
            vowels += 1
        elif letter.isalpha():
            consonants += 1

    print( "vowels:", vowels)
    print( "consonants:", consonants)


word = input("enter a word")

checkword(word)

enter a word word

vowels: 1
consonants: 3

# Build a simple grade calculator for multiple students. Input their marks in a list and print the grade using a function

In [13]:
def checkGrade(marks):
    if marks >= 90:
        print("Grade: A+")
    elif marks >= 80:
        print("Grade: A")
    elif marks >= 70:
        print("Grade: B")
    elif marks >= 60:
        print("Grade: C")
    elif marks >= 50:
        print("Grade: D")
    else:
        print("Grade: F")

# Example usage
score = int(input("Enter your marks: "))
checkGrade(score)

Enter your marks:  45

Grade: F

In [50]:
# Function to calculate grade based on marks
def calculate_grade(marks):
    if marks >= 90:
        return 'A+'
    elif marks >= 80:
        return 'A'
    elif marks >= 70:
        return 'B'
    elif marks >= 60:
        return 'C'
    elif marks >= 50:
        return 'D'
    else:
        return 'F'

# Input marks from user
marks_list = input("Enter marks of students separated by space: ").split()
marks_list = [int(m) for m in marks_list]

# Print grades for each stude
for i in range(len(marks_list)):
    grade = calculate_grade(marks_list[i])
    print("Student", i+1, "Marks =", marks_list[i], "Grade =", grade)

Enter marks of students separated by space:  100 99 88

Student 1 Marks = 100 Grade = A+
Student 2 Marks = 99 Grade = A+
Student 3 Marks = 88 Grade = A