In [5]:
my_list=[1,2,3,4]
my_list.append(5)
print (my_list)

[1, 2, 3, 4, 5]

In [6]:
my_list=[1,2,3,4]
my_list.remove(3)
print (my_list)

[1, 2, 4]

In [7]:
my_list=[1,2,3,4]
popped_item = my_list.pop()
print("popped_item is :" , popped_item)
print (my_list)

popped_item is : 4
[1, 2, 3]

In [8]:
my_list=[1,2,3,4]
my_list.insert(1,10)
print (my_list)

[1, 10, 2, 3, 4]

In [9]:
my_list=[8,9,6,2,3,4]
my_list.sort()
print (my_list)

[2, 3, 4, 6, 8, 9]

In [10]:
my_list=[1,2,3,4]
my_list.reverse()
print (my_list)

[4, 3, 2, 1]

In [11]:
a = [10,20,30,40,50]
print(a[1:4]) # first index in inclusive and last one is exclusive

[20, 30, 40]

In [12]:
a = [10,20,30,40,50]
print(a[::3])

[10, 40]

In [13]:
a = [10,20,30,40,50]
print(a[:2])

[10, 20]

In [14]:
a = [10,20,30,40,50]
print(a[-2:])

[40, 50]

In [15]:
a = [10,20,30,40,50]
print(a[1:4:3])

[20]

In [16]:
a = [10,20,30,40,50]
print(a[-1::2])

[50]

In [17]:
A =[5,6,7,8,9,10]
print(A[-2::-2])

[9, 7, 5]

In [18]:
A =[5,6,7,8,9,10]
print(A[2::-2])

[7, 5]

# Tuples

## Ordered collection , immutable , faster than list, useful for fixed data

In [19]:
my_tuple = (10,20,30)
print(my_tuple[0])   
print(my_tuple[-1])  
print(my_tuple[1:3])

10
30
(20, 30)

In [20]:
import time

start = time.time()
for _ in range(5_555_000):
    a = [1,2,3,4]
end = time.time()
print("List creation :",end - start)

List creation : 0.4901092052459717

In [21]:
import time

start = time.time()
for _ in range(5_555_000):
    a = (1,2,3,4)
end = time.time()
print("Tuple creation :",end - start)

Tuple creation : 0.26067447662353516

In [22]:
import sys

a=[1,2,3,4,5]
b = (1,2,3,4,5)
print(sys.getsizeof(a))
print(sys.getsizeof(b))

104
80

# set

In [23]:
s ={1,2,3,4,2}
print(s)

{1, 2, 3, 4}

In [24]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A.symmetric_difference(B))

{1, 2, 5, 6}

In [25]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A.union(B))

{1, 2, 3, 4, 5, 6}

In [26]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A.intersection(B))

{3, 4}

In [27]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A.difference(B))

{1, 2}

In [28]:
import time
nums_list = list(range(1_000-000))
nums_set =

SyntaxError: invalid syntax (3170529022.py, line 3)

# Dictionaries

## key-value pairs ,mutable ,fast lookup

In [ ]:
# synatx
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

student.keys()

Alex
26

dict_keys(['name', 'age', 'grade', 'city'])

In [ ]:
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

student.values()

Alex
26

dict_values(['Alex', 26, 'A', 'KATHMANDU'])

In [ ]:
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

student.items()

Alex
26

dict_items([('name', 'Alex'), ('age', 26), ('grade', 'A'), ('city', 'KATHMANDU')])

In [ ]:
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

student.get("grade")

Alex
26

'A'

In [ ]:
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

student.pop("age")

Alex
26

26

In [ ]:
student = {"name":"Alex", "age": 25 , "grade":'A'}
print(student["name"])
student["age"]=26
print(student["age"])
student["city"]="KATHMANDU"

print(student.keys())
print(student.values())
print(student.items())
print(student.get("grade"))
print(student.pop("age"))

Alex
26
dict_keys(['name', 'age', 'grade', 'city'])
dict_values(['Alex', 26, 'A', 'KATHMANDU'])
dict_items([('name', 'Alex'), ('age', 26), ('grade', 'A'), ('city', 'KATHMANDU')])
A
26

# strings
## sequence of chars,immutable,can be indexed/sliced

# array
## store elements of same type, more efficient than lists

In [ ]:
from array import array
arr = array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [ ]:
from array import array
arr = array('j',[1,2,3,4])
print(arr)

# why error when we put j

ValueError: bad typecode (must be b, B, u, w, h, H, i, I, l, L, q, Q, f or d)

# Arraymethods

In [ ]:
from collections import Counter
c = Counter("banana")
print(c)

from collections import defaultdict
d = defaultdict(int)
d["a"] += 1
print(d)

from collections import namedtuple
Point = namedtuple("Point","x y")
p= Point(10,20)
print(p)

Counter({'a': 3, 'n': 2, 'b': 1})
defaultdict(<class 'int'>, {'a': 1})
Point(x=10, y=20)
10 20

# To REMEMBER
# List: ordered , dynamic data
# Tuple : ordered , fixed ,faster reads
# Set : unique items + fast membership
# Dict : key-value mapping ,fast lookup
# Array : memory - efficient numeric storage
# Deque :fast queue/stack opeartions
# heap : priority-based smmalest/largest access
# Counter : fast frequency counting
# DefaultDict : grouping + auto-initialized dict


"""
Title
Objective (3-4 points)
Scope and Application (3-4 points)
Introduction (800-1000 words, ~2 pages)
Literature Review (aru le k gareko cha research)
Methodology
    - Dataset Collection
    - EDA
Conclusion
"""

In [ ]:
# 
""" 
Title
Objective (3-4 points) 
Scope and Application (3-4 points) 
Introduction (800-1000 words, ~2 pages) 
Literature Review (aru le k gareko cha research  4-5 papers  ) 
 - Focus more on traditional ML methods
 - 
Methodology 
- Dataset Collection
- EDA 
Conclusion 
"""
#

In [ ]:
x = sorted([-4,1,-2,3], key=abs,
reverse=True)
print (x)

[-4, 3, -2, 1]

In [29]:
squares = [x*x for x in range(1, 6)]
print(squares)
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]

In [30]:
import random
print(random.randint(1, 6))

2

In [31]:
from functools import reduce
nums = [1, 2, 3, 4]
total = reduce(lambda a, b: a + b, nums)
print(total)

10

In [ ]:
text = "dipti"
stack.append(text)

rev =""
while stack: