In [2]:
a=5
print(a)

5

# print your full name

In [4]:
print("DIPTI SHARMA")

DIPTI SHARMA

# print a quote

In [11]:
print("start learning everyday")

start learning everyday

# print in multiple lines

In [10]:
print ("we \n are \n student")

we
 are
 student

# Variables and Data Types

In [16]:
name = "DIPTI"
age= 21
country = "Nepal"

print( f"MY name is {name}, I am {age} years old ,  and I live in {country}.")
print(type(name),type(age),type(country))

MY name is DIPTI, I am 21 years old ,  and I live in Nepal.
<class 'str'> <class 'int'> <class 'str'>

In [18]:
a="Apex"
a[-1]

'x'

# Describe all these operators and example of each with output

## arithmetic operators

In [1]:
a = 10
b = 3
print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a % b)   # Modulus
print(a ** b)  # Exponentiation
print(a // b)  # Floor Division

13
7
30
3.3333333333333335
1
1000
3

## comparison operators

In [2]:
a = 5
b = 8
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

## logical Operators

In [3]:
x = 5
y = 10
print(x > 3 and y > 5)
print(x > 7 or y > 5)
print(not(x > 3 and y > 5))

True
True
False

## assignment operators

In [17]:
x = 10 

x += 5
print(x)
x -= 3
print(x)
x *= 2
print(x)
x /= 4
print(x)
x %= 3
print(x)

15
12
24
6.0
0.0

## bitwise operators

In [19]:
a = 5   # 0101
b = 3   # 0011
print(a & b)   # AND
print(a | b)   # OR
print(a ^ b)   # XOR
print(~a)      # NOT
print(a << 1)  # Left shift
print(a >> 1)  # Right shift

1
7
6
-6
10
2

## membership operators

In [20]:
fruits = ["apple", "banana", "mango"]
print("apple" in fruits)
print("grape" not in fruits)

True
True

## identity operators

In [21]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y)
print(x is z)
print(x is not y)

False
True
True

# input and output

In [3]:
age = int(input("Enter your age: "))
print("Your age is:", age)

Enter your age:  21

Your age is: 21

In [4]:
name = "Dipti"
print("Hello,", name)
print("Welcome to Python programming.")

Hello, Dipti
Welcome to Python programming.

# mini assignment 3

In [13]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)

Enter a number:  4
Enter another number:  5

Sum: 9
Difference: -1
Product: 20

In [12]:
a=5
b=5
if a%b==0 :
    print("divisible")

divisible

In [19]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a % 2 == 0 and b % 2 == 0:
    print( "is even")
else:
    print("not even")

Enter first number:  4
Enter second number:  6

is even

# conditional statements

In [23]:
a = 5 

if a > 0:
    print("positive")
elif a < 0:
    print("negative")
else:
    print("zero")

positive

In [24]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    print("A")
elif marks >= 75:
    print("B")
elif marks >= 50:
    print("C")
else:
    print("F")

Enter your marks:  56

C

In [33]:
a =8
if a%2 == 0 :
    print("even")
else :
    print("odd")

even

In [2]:
num =5
print(num)

5

In [3]:
name ="DIPTI"
len(name)

5

In [4]:
name=input("enter your name")

enter your name dipti

In [5]:
a = max(5, 8, 2)
print(a)

8

In [6]:
b = min(1,2,3)
print(b)

1

In [12]:
a = 5
print(type(a))

b = "dipti"
print(type(b))

c = 5.1
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

## Functions

In [13]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b

print(add(2,3))
print(sub(3,1))

5
2

In [23]:
def is_prime(n):
    if n<=1: return False
    for i in range(2,n):
        if n%i ==0 :
            return False
    return True
print(is_prime(8))

False

In [27]:
def function(n):
    if n == 0:
        return
    else:
        function(n-1)
        print(n)
function(10)

1
2
3
4
5
6
7
8
9
10

In [29]:
import math
print(math.sqrt(25))
print(math.pi)

5.0
3.141592653589793

In [31]:
import random
print(random.randint(1,10))

3

 # write a program that asks for three numbers abd prints largest using a function

In [37]:
def function (a,b,c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c 

a = int(input("enter your first number"))
b = int(input("enter your second number"))
c = int(input("enter your third number"))

largest = function(a,b,c)
print( "largest :",largest)

enter your first number 2
enter your second number 2
enter your third number 3

largest : 3

In [46]:
def largest(arr_):
    max_number = arr_[0]
    for a in arr_:
        if a>max_number:
            max_number = a
        return max_number

largest([1,2,3,4,5])

1

# print a mutiplication table for a number , but highlight multiples of 5

In [44]:
num = int (input("enter a number you want multiplication for"))
for i in range(1,11):
    print (f"{num} *{i} = {num*i}")

enter a number you want multiplication for 5

5 *1 = 5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
5 *10 = 50